<html class="clearfix">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

<!-- data-toggle="tab" -->
<div class="container" dir="rtl">
  <div>
    <div class="col-xs-12 ">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <!-- <a  class="nav-item nav-link active" id="nav-PersonalInformation-tab" routerLink="complitDitails">השלמת פרטי מועמד</a> -->
          <a routerLinkActive="testActive" class="nav-item nav-link" id="nav-shortcoming-tab" role="tab"
            routerLink="complitDitails">השלמת פרטי מועמד</a>
          <a routerLinkActive="testActive" class="nav-item nav-link" id="nav-shortcoming-tab" role="tab"
            routerLink="calander">לוח שנה</a>
          <a routerLinkActive="testActive" class="nav-item nav-link" id="nav-shortcoming-tab" role="tab"
            routerLink="allSuggest">רשימת ההצעות</a>
          <a routerLinkActive="testActive" class="nav-item nav-link" id="nav-shortcoming-tab" role="tab"
            routerLink="allCandidate">רשימת מועמדים</a>
          <a routerLinkActive="testActive" class="nav-item nav-link" id="nav-shortcoming-tab" role="tab"
            routerLink="mail">תקשורת עם מועמד</a>
          <a *ngIf="dCandidateService.allowAcceess==3" routerLinkActive="testActive" class="nav-item nav-link"
            id="nav-shortcoming-tab" role="tab" routerLink="matcMakerRegister"> הרשמת שדכן</a>
          <!-- התאב האחרון מיועד למנמר בלבד -->

        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="" id="nav-all">
          <router-outlet></router-outlet>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="st home-div">
  <img class="Home" src="../../assets/Pinnk.png" (click)="returnHomePage()" title="עבור לדף הבית">
</div>

</html>