<div *ngIf="cand">
    <div id="migbala">

        <label class=" col-form-label text-md-right font-weight-bold">תאור מגבלה/ות</label>



        <div dir="rtl" class="form-group row  ddddd">
            <label for="isMigbala" class=" col-form-label text-md-right">האם יש לך מגבלה</label>

            <div class="col-md-5">
                <select class="form-control" id="isMigbala" name="isMigbala" [(ngModel)]="isMigbala">


                    <option [ngValue]="false">לא</option>
                    <option [ngValue]="true">כן</option>

                </select>
            </div>
        </div>



        <div *ngIf="isMigbala" dir="rtl" class="form-group row  ddddd">
            <label for="numMigbala" class=" col-form-label text-md-right">מספר מגבלות</label>

            <div class="col-md-5">

                <input type="number" id="numMigbala" class="form-control" name="numMigbala" (change)="addMigbala()" min="0"
                    [(ngModel)]="numMigbala">
            </div>
        </div>

        <div *ngFor="let item of cand.MigbalaCandidates; index as i">
            <label class=" col-form-label text-md-right font-weight-bold"> מיגבלה #{{i+1}}</label>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="sugMigbala" class=" col-form-label text-md-right">סוג מגבלה</label>

                <div class="col-md-5">

                    <select class="form-control" id="sugMigbala" name="sugMigbala-{{i}}" [(ngModel)]="item.KindMigbala">
                        <option *ngFor="let valueLis of dCandidateService.GetValueList(32)" [value]="valueLis.ValueListId">
                            {{valueLis.Value}}</option>
                    </select>
                </div>
            </div>


            <div dir="rtl" class="form-group row  ddddd">
                <label for="LabelMigbala" class=" col-form-label text-md-right">רמת מגבלה</label>

                <div class="col-md-5">

                    <select class="form-control" id="LabelMigbala" name="LabelMigbala-{{i}}" [(ngModel)]="item.levelMigbala">
                        <option *ngFor="let valueLis of dCandidateService.GetValueList(5)" [value]="valueLis.ValueListId">
                            {{valueLis.Value}}</option>
                    </select>
                </div>
            </div>


            <div dir="rtl" class="form-group row  ddddd">
                <label for="Describe" class=" col-form-label text-md-right">תאור מיגבלה</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.MigbalaCandidates[i].Describe" class="form-control" name="Describe-{{i}}">
                </div>
            </div>


            <div dir="rtl" class="form-group row  ddddd">
                <label for="Genetic" class=" col-form-label text-md-right">גנטי?</label>

                <div class="col-md-5">
                    <select [(ngModel)]="cand.MigbalaCandidates[i].Genetic" class="form-control" name="Genetic-{{i}}"
                        id="Genetic">
                        <option [ngValue]="false">לא</option>
                        <option [ngValue]="true">כן</option>
                    </select> </div>
            </div>


        </div>
    </div>



    <label class=" col-form-label text-md-right font-weight-bold"> תרופות ואשפוזים</label>
    <div dir="rtl" class="form-group row  ddddd">
        <label for="isMigbala" class=" col-form-label text-md-right"> נטילת תרופות</label>

        <div class="col-md-5">
            <select class="form-control" id="isMedical" name="isMedical" [(ngModel)]="isMedical">

                <option [ngValue]="false"> לא נוטל</option>
                <option [ngValue]="true">נוטל / נטלתי בעבר</option>

            </select>
        </div>
    </div>
    <div *ngIf="isMedical" dir="rtl" class="form-group row  ddddd">
        <label for="numMedical" class=" col-form-label text-md-right">מספר תרופות</label>

        <div class="col-md-5">

            <input type="number" id="numMedical" class="form-control" name="numMedical" [(ngModel)]="numMedical" min="0"
                (change)="addmedicial()">
        </div>
    </div>

    <div *ngFor="let item of dCandidateService.getCritMoreLanguage(34); index as ind">
            <div dir="rtl" class="form-group row  ddddd">
                    <label class=" col-form-label text-md-right "> <strong>תרופה #{{ind+1}}</strong></label>
       
            <div class="col-md-5">
                <select class="form-control" id="medical" name="medical-{{ind}}" [(ngModel)]="item.ValueListId">
                    <option *ngFor="let valueLis of dCandidateService.GetValueList(34)" [value]="valueLis.ValueListId">
                        {{valueLis.Value}}</option>
                </select>
                <select class="form-control" id="pastToday" name="pastToday-{{ind}}" [(ngModel)]="item.selfBool">
                    <option [ngValue]="true">  נוטל כיום</option>
                    <option [ngValue]="false">  נטלתי בעבר</option>
                </select>
            </div>

        </div>

    </div>






    <div dir="rtl" class="form-group row  ddddd">
        <label for="numHospitalizion" class=" col-form-label text-md-right">מספר אשפוזים</label>

        <div class="col-md-5">

            <input type="number" id="numHospitalizion" class="form-control" name="numHospitalizion" min="0" (change)="addHospitalizition()"
                [(ngModel)]="numHospitalizion">
        </div>
    </div>

    <div *ngFor="let item of cand.Hospitalizations; index as i">
        <label class=" col-form-label text-md-right font-weight-bold"> אשפוז #{{i+1}}</label>

        <div dir="rtl" class="form-group row  ddddd">
            <label for="NameDepartment" class=" col-form-label text-md-right">שם מחלקה</label>

            <div class="col-md-5">
                <input type="text" [(ngModel)]="cand.Hospitalizations[i].NameDepartment" class="form-control" name="NameDepartment-{{i}}"
                    id="NameDepartment">

            </div>
        </div>
        <div dir="rtl" class="form-group row  ddddd">
            <label for="TreatDoctor" class=" col-form-label text-md-right">רופא מטפל</label>

            <div class="col-md-5">
                <input type="text" [(ngModel)]="cand.Hospitalizations[i].TreatDoctor" class="form-control" name="TreatDoctor-{{i}}"
                    id="TreatDoctor">

            </div>
        </div>
        <div dir="rtl" class="form-group row  ddddd">
            <label for="TreatDoctor" class=" col-form-label text-md-right">טלפון רופא מטפל </label>

            <div class="col-md-5">
                <input type="text" [(ngModel)]="cand.Hospitalizations[i].TelTreatDr" class="form-control" name="TelTreatDr-{{i}}" maxlength="10"
                    id="TelTreatDr">

            </div>
        </div>
        <div dir="rtl" class="form-group row  ddddd">
            <label for="NameHospital" class=" col-form-label text-md-right">שם ביה"ח</label>

            <div class="col-md-5">
                <input type="tel" [(ngModel)]="cand.Hospitalizations[i].NameHospital" class="form-control" name="NameHospital-{{i}}"
                    id="NameHospital">

            </div>
        </div>
        <div dir="rtl" class="form-group row  ddddd">
                <label for="FromDate" class=" col-form-label text-md-right">מתאריך</label>
                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.Hospitalizations[i].FromDate" onkeydown="return false" placeholder="לחץ כאן" name="FromDate-{{i}}"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" class="form-control" bsDatepicker id="FromDate"  placement="top">
                </div>
            </div>
            <div dir="rtl" class="form-group row  ddddd">
                    <label for="UntilDate" class=" col-form-label text-md-right">עד תאריך</label>
                    <div class="col-md-5">
                        <input type="text" [(ngModel)]="cand.Hospitalizations[i].UntilDate" onkeydown="return false"  placeholder="לחץ כאן" name="UntilDate-{{i}}"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" class="form-control" bsDatepicker id="UntilDate"  placement="top">
                    </div>
                </div>
        <div dir="rtl" class="form-group row  ddddd">
            <label for="Describ" class=" col-form-label text-md-right">תאור</label>

            <div class="col-md-5">
                <input type="text" [(ngModel)]="cand.Hospitalizations[i].Describ" class="form-control" name="Describ-{{i}}"
                    id="Describ">

            </div>
        </div>

    </div>



    <div class="buttons">
        <button type="button" class="btn btn-light" (click)="saveDetailCandidate()"> שמור </button>
        <button type="button" class="btn btn-light" (click)="saveAndContinue()"> שמור והמשך </button>

    </div>


</div>