<div *ngIf="cand">
    <div id="mare">
        <label class=" col-form-label text-md-right font-weight-bold">מראה כללי</label>


        <div *ngFor="let item of HightAndWight(); index as i" dir="rtl" class="form-group row ddddd">

            <label *ngIf="item.CriteriaId==17" for="height" class=" col-form-label text-md-right">גובה (הכנס גובה בס"מ)</label>
            <label *ngIf="item.CriteriaId==18" for="height" class=" col-form-label text-md-right">משקל</label>

            <div class="col-md-5">

                <input type="number" [(ngModel)]="item.selfValue" class="form-control" name="height-{{i}}" min="0">
            </div>
        </div>
        <!-- <p *ngIf="height.control.dirty&&!height.control.valid">שדה חובה*</p> -->

    </div>



    <div *ngFor="let crit of criterionMare; index as i" dir="rtl" class="form-group row  ddddd">
        <label for="criteria" class=" col-form-label text-md-right"> {{crit.NameCriterion}}</label>

        <div class="col-md-5">
            <select class="form-control" id="criterionMare" name="criterionMare-{{i}}" [ngModel]="dCandidateService.GetIDListById(crit.CriterionId)"
                (ngModelChange)="changeValue(crit.CriterionId,$event)">
                <option *ngFor="let valueLis of dCandidateService.GetValueList(crit.CriterionId)" [value]="valueLis.ValueListId">
                    {{valueLis.Value}}</option>
            </select>
        </div>

    </div>
    <!-- <p *ngIf="Tz.control.dirty&&!Tz.control.valid">שדה חובה*</p> -->





    <div id="description">
        <label class=" col-form-label text-md-right font-weight-bold">תאור אישיותי</label>

        <div dir="rtl" class="form-group row  ddddd">
            <label for="numChozckot" class=" col-form-label text-md-right">מספר חוזקות</label>
            <div class="col-md-5">
                <input type="number" id="numChozckot" class="form-control" name="numChozckot" [(ngModel)]="numChozckot"
                    min="0" (change)="addCHuzckot()">
            </div>
        </div>


        <label lang="he" *ngIf="numChozckot >=1" class=" col-form-label text-md-right "><strong>החוזקות שלי:</strong></label>
        <div *ngFor="let item of dCandidateService.getCritMoreLanguage(26); index as ind">

            <div dir="rtl" class="form-group row  ddddd">
                    <label class=" col-form-label text-md-right "></label>

                <div class="col-md-5">
                    <select class="form-control" id="Chozckot" name="Chozckot11-{{ind}}" [(ngModel)]="item.ValueListId">
                        <option *ngFor="let valueLis of dCandidateService.GetValueList(26)" [value]="valueLis.ValueListId">
                            {{valueLis.Value}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div dir="rtl" class="form-group row  ddddd">
            
            <label for="numChulshot" class=" col-form-label text-md-right">מספר חולשות</label>

            <div class="col-md-5">

                <input type="number" id="numChulshot" class="form-control" name="numChulshot" [(ngModel)]="numChulshot"
                    min="0" (change)="addCHolshot()">
            </div>
        </div>


        <label *ngIf="numChulshot>=1" lang="he" class=" col-form-label text-md-right "><strong>החולשות שלי:</strong></label>
        <div *ngFor="let item of dCandidateService.getCritMoreLanguage(27); index as ind">

            <div dir="rtl" class="form-group row  ddddd">
                    <label class=" col-form-label text-md-right "></label>

                <div class="col-md-5">
                    <select class="form-control" id="Chozckot" name="Chozckot-{{ind}}" [(ngModel)]="item.ValueListId">
                        <option *ngFor="let valueLis of dCandidateService.GetValueList(27)" [value]="valueLis.ValueListId">
                            {{valueLis.Value}}</option>
                    </select>
                </div>
            </div>
        </div>



        <div dir="rtl" class="form-group row  ddddd">
            <label for="personaldecription" class=" col-form-label text-md-right">תאור אישיותי כללי</label>
            <div class="col-md-5">
                <input type="text" [(ngModel)]="cand.Candidate.personaldecription" id="personaldecription" class="form-control"
                    name="personaldecription" #CountryId>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="button" class="btn btn-light" (click)="saveDetailCandidate()"> שמור </button>
        <button type="button" class="btn btn-light" (click)="saveAndContinue()"> שמור והמשך </button>
    </div>
</div>