
/* TODO29/07/2019 */
body {
    width: 40vw;
    size:3vw;
    color :black;
  

}
.btn{
    width: 15vw;
    size: 2vw
}
.font-lable-lightgary{
    color: lightslategray !important;
}
.modal-header {
    justify-items: center;
    width: 100%;
    direction: rtl;
}

h1 {
    justify-self: center;
    margin: auto;
}
.close {
    margin-left: 0 !important;
}
.col-form-label {
  
    font-size: 1.3vw;
}
.container-fluid {
   
    background: white;
}
/* end */