<div *ngIf="dCandidateService?.allowAcceess!=1" dir="rtl" class="form-group row  ddddd">

  <div style="width: inherit;"><button class="btn btn-default" (click)="GetMeetingMatcMaker()">הצג פגישות  מועמד שדכן</button></div>
  <button class="btn btn-default" (click)="GetMeetingByTz()">הצג פגישות</button> 
  <div class="col-md"> <input class="form-control" type="text" (keypress)="numberOnly($event)" placeholder="הכנס ת.ז." [(ngModel)]="Tz">
</div>

</div>
<div class='app'>

  <!-- <div class='app-top'>
    <button (click)='toggleVisible()'>toggle visible</button>
    <button (click)='toggleWeekends()'>toggle weekends</button>
    <button (click)='gotoPast()'>go to a date in the past</button>
    (also, click a date/time to add an event)
  </div> -->
<!-- dayGridMonth,listWeek -->
  <div class='app-calendar' *ngIf="calendarVisible">
    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
        left:  'next,prev today' ,
        center:  'title',
        right: ''
      }" locale='he' dir="rtl" [buttonText]="{
        today:    'היום',
        month:    'חודש',
        week:     'שבוע',
        day:      'יום',
        list:     'רשימה'
      }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
      (dateClick)="handleDateClick($event)" (eventClick)="handleEventeClick($event)"></full-calendar>
  </div>

</div>