

.stiky-top {
    background: #343a40f5;
    height: 6vw;
    margin-bottom: 0vw;
}

.Home {
    width:4vw;
    top: 1.0vw;
    left: 1vw;
    position: absolute;
}

.st {

    width: 5vw;
    margin-right: 0vw;
}

.title {
    display: flex;
    margin-right: 2vw
}

h2 {
    margin-top:0.5vw; 
    font-size: 4vw;
    color: #ebebed;
}