.submit{
    position: fixed;
    bottom: 18vh;
    left: 40vw;
    height: 7vh;
    width: 20vw;
}
.row{
    margin-top: 2vh;
}
.col-4{
    margin-right: 5vw;
}
.col-6{
    margin-right: 3vw;
    text-align: justify;
    font-size: 1vw;
}
h1{
    text-align: center;
}