/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';



p {
    color: red;

}

/* TODO 29/07/2019 */
.font-p-black {
    color: black !important;
   font-size: 1.5vw;      
}

/* ===============modal======================= */
.modal-content {

    background-color: white !important;
    max-width: 40vw;
}

.modal.fade .modal-dialog {
    max-width: 40vw !important;
}

.modal-lg {
    max-width: 40vw !important;
}

/* ==============כפתורים==================== */
.btn:hover {
    background: #af848c !important;
}
.btn:active {
    background: #af848c !important;
}
.btn-lg:active{
    box-shadow: #af848c;

    background: #af848c !important;
}
.btn-lg.active.focus, .btn-lg.active:focus, .btn-lg.active:hover, .btn-lg:active.focus, .btn-lg:active:focus, .btn-lg:active:hover, .open>.dropdown-toggle.btn-lg.focus, .open>.dropdown-toggle.btn-lg:focus, .open>.dropdown-toggle.btn-lg:hover
{
color: #fff;
background-color: #161617; 
border-color: #494F57; 
}
.btn:focus {
    color: #ffffff; 
    background-color: #be7683; 
    border-color: #494F57;
    
  }
  


.btn {

    background: #343a40 !important;
    border: #343a40 !important;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
    color: white !important;
    /* width: 12vw !important;
   
    height: 8vh !important;
    font-size: 2vw !important; */
    margin: 0.5vw;
    text-align: center;
}

.buttons {
    float: left;
    margin-left: 1vw;
}

/* ============עצוב הדף של התאבים================== */
.ddddd {
    margin-right: unset;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
}

.form-control {
    width: 30vw;
    border: 1px solid #af848c !important;
}

.col-form-label {
    margin-right: 2vw;
    width: 9vw;

}

.font-weight-bold {
    margin: 2vh;

    width: 15vw;
}

.form-control {
    border: 1px solid #af848c;
}

.selectmarg {
    margin-right: 11vw;
}

.card-group {
    justify-content: center;
}

.all-sugestes-cards {
    border: 2px solid #af848c !important;

    border-radius: 0.6vh !important;
    margin-bottom: 1vh !important;
    width: 17vw
}

th {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;

}

* {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;

}

.col-md-8 {

    text-align: right !important;

}

.col-md-3 {

    margin: 0 !important;

}

.tav_line {
    text-align: right !important;
    width: 5vw !important;
}

/* datePicker */
.theme-green .bs-datepicker-head {
    background-color: #af848c !important;
}

.theme-green .bs-datepicker-body table td.week span {
    color: #af848c !important;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #af848c !important;
}

body {
    overflow: hidden;
background-image: url(
    "./assets/back-image.png" 
    
  ) ;
  background-repeat: no-repeat;
  overflow: hidden;
  
 background-size: cover;

}
