.text-justify{
    width: 22vw;
    height: 24vw;
    margin: 0;
    display: inline-block; 
}
.near-about{
    width: 22vw;
    height: 24.3vw;
    display: inline-block;
    margin: 0;
    margin-right: -0.8vw;
    background-color: #d6c5b2;

}
.content{
    width: 45vw;
    height: 24.5vw;
    margin: auto;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-top: 15vw;
   
    
}
h1{font-size: 2.5rem;
    width: 14vw;
margin: 0;
height: 3.2vw;}
   