<html><body>
  <div class="content">
  <div class="near-about"></div>
  <div class="text-justify" ><h1 class=" about-title">אודות שידוך לעניין</h1>
  אתר שידוך לעינן נוסד בשנת 1984 ע"י ר' נפתלי ארנפלד.
    לאחר שמצב השידוכים אצל בעלי המוגבלות נגע לליבו החליט להקים מערכת שתעזור לציבור ותטפל בצורה דיסקרטית ויעילה במצב.
   מערכת שידוך לעינין עושה כמיטב יכולתה ע"מ לרכז את ההצעות מהעולם הרחב המותאמות ספציפי  למצב המועמד .
   האתר מתנהל בהכוונת ובהמלצת רבנים.
    מערכת שדכנים מנוסים ומוסמכים ילוו את השידוך לאורך כל הדרך בצורה רגישה ודיסקרטית עד לסיומו הטוב.
   מערכת שידוך לעינין מאחלת לכול לקוחותיה שיזכו להקים בית נאמן בישראל 
   בתפילה שלא תצא תקלה תחת ידינו צוות שידוך לעינין
   
    
  </div>
  
  
  
  
  
  </div>
</body></html>