<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
<form #frm="ngForm">

    <div *ngIf="cand">
        <div>
            <label class=" col-form-label font-weight-bold">פרטים מזהים</label>


            <!-- pattern="\d*" -->

            <div dir="rtl" class="form-group row  ddddd">
                    <label for="Tz" class=" col-form-label">מספר זהות</label>
                    <div class="col-md-5">
    
                        <input type="text" [(ngModel)]="cand.User.Tz" id="Tz" class="form-control" name="Tz" #Tz="ngModel" (keyup)="validTz()" (keypress)="numberOnly($event)" 
                            required  maxlength="9">
                    </div>
    
                </div>
                <!-- <p *ngIf="Tz.control.dirty||submitted">שדה חובה</p> -->
                <p *ngIf="Tz?.errors?. required && (Tz.dirty || Tz.touched||firstEnter==2)">*שדה חובה</p>
                <p *ngIf="!tzValid && ( Tz?.touched||firstEnter==2)">*ת.ז. אינה תקינה</p>
             
            <!-- {{f1(Tz)}} -->
            <!-- {{f(Tz)}}
                <div *ngIf="Tz.invalid && (Tz.dirty || Tz.touched)" class="alert alert-danger">
                    
        <div *ngIf="Tz.errors.required">
            Tz is required.
        </div>
        <div *ngIf="Tz.errors.maxlength">
            Tz must be less then 9 characters long.
        </div>
        <div *ngIf="Tz.errors.forbiddenTz">
            Tz cannot be Bob.
        </div>
        
    </div> -->


            <div dir="rtl" class="form-group row  ddddd">
                <label for="FirstName" class=" col-form-label text-md-right">שם פרטי</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.FirstName" id="FirstName" class="form-control" name="FirstName"
                        required #FirstName="ngModel">
                </div>
            </div>
            <p *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched||firstEnter==2)">שדה חובה*</p>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="LastName" class=" col-form-label text-md-right">שם משפחה</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.LastName" id="LastName" class="form-control" name="LastName"
                        required #LastName="ngModel">
                </div>
            </div>
            <p *ngIf="LastName.invalid && (LastName.dirty || LastName.touched||firstEnter==2)">שדה חובה*</p>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="NamePrevMarriage" class=" col-form-label text-md-right">שם משפחה קודם</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.Candidate.NamePrevMarriage" id="NamePrevMarriage" class="form-control"
                        name="NamePrevMarriage" #NamePrevMarriage>
                </div>
            </div>

            <div dir="rtl" class="form-group row  ddddd">
                    <label for="NamePrevMarriage" class=" col-form-label text-md-right">תאריך לידה</label>
                    <div class="col-md-5">
                <input type="text" [(ngModel)]="cand.User.BornDate" onkeydown="return false"  placeholder="לחץ כאן" name="birthdate"
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" class="form-control" bsDatepicker [maxDate]="today"
                    #mayd="ngModel">
            </div>
            </div>
            <!-- {{ f(mayd)}} -->
            <!-- <div dir="rtl" class="form-group row  ddddd">
                <div class="col-md-5">
                 

                    <input type="date" [(ngModel)]="cand.User.BornDate" id="BornDate" class="form-control" name="BornDate"
                        required #BornDate="ngModel">
                </div>
                <label for="BornDate" class=" col-form-label text-md-right">תאריך לידה</label>
            </div>
            <p *ngIf="BornDate?.invalid && (BornDate?.dirty || BornDate?.touched||dCandidateService.firstRegister)">שדה חובה*</p> -->


            <div dir="rtl" class="form-group row  ddddd">
                <label for="Gender" class=" col-form-label text-md-right">מין</label>

                <div class="col-md-5">
                    <select class="form-control" id="Gender" name="Gender" [(ngModel)]="cand.User.Gender" required
                        #Gender="ngModel">
                        <option [ngValue]="true">זכר</option>
                        <option [ngValue]="false">נקבה</option>
                    </select>
                </div>
            </div>
            <p *ngIf="Gender?.invalid && (Gender?.dirty || Gender?.touched||firstEnter==2)">שדה חובה*</p>
            <!-- פה חסר שפת אם ושפות נוספות -->





            <div dir="rtl" class="form-group row  ddddd">
                <label for="MotherLonguage" class=" col-form-label text-md-right"> שפת אם</label>

                <div class="col-md-5">
                    <select class="form-control" id="MotherLonguage" name="MotherLonguage" [ngModel]="GetIDListById(28)"
                        (ngModelChange)="changeValue(28,$event)">
                        <option *ngFor="let valueLis of GetValueList(28)" [value]="valueLis.ValueListId">{{valueLis.Value}}
                        </option>
                    </select>
                </div>
            </div>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="numLanguage" class=" col-form-label text-md-right">מספר שפות נוספות</label>

                <div class="col-md-5">

                    <input type="number" id="numLanguage" class="form-control" name="numLanguage" [(ngModel)]="numLanguage"
                        min="0" (change)="addLanguage()">
                </div>
            </div>



            <label lang="he" *ngIf="numLanguage >=1" class=" col-form-label text-md-right "><strong>שפות נוספות:</strong></label>
            <div *ngFor="let item of dCandidateService.getCritMoreLanguage(29); index as ind">
                   
                <div dir="rtl" class="form-group row  ddddd">
                        <label class=" col-form-label text-md-right "></label>
                    <div class="col-md-5">
                        <select class="form-control" id="Chozckot" name="MoreLonguage-{{ind}}" [(ngModel)]="item.ValueListId">
                            <option *ngFor="let valueLis of dCandidateService.GetValueList(29)" [value]="valueLis.ValueListId">
                                {{valueLis.Value}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div dir="rtl" class="form-group row  ddddd">
                <label for="NamePrevMarriage" class=" col-form-label text-md-right">מקום לימודים אחרון</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.Candidate.school" id="school" class="form-control" name="school"
                        #school>
                </div>
            </div>


            <!-- <div *ngFor="let item of dCandidateService.getCritMoreLanguage(29); index as ind">
                <label class=" col-form-label text-md-right font-weight-bold">שפה #{{ind+1}}</label>
                <div dir="rtl" class="form-group row  ddddd">
                    <div class="col-md-5">
                        <select class="form-control" id="MotherLonguage" name="MoreLonguage-{{ind}}" [(ngModel)]="item.ValueListId">
                            <option *ngFor="let valueLis of GetValueList(28)" [value]="valueLis.ValueListId">
                                {{valueLis.Value}}</option>
                        </select>
                    </div>

                </div>


            </div> -->


        </div>


        <div>
            <label class=" col-form-label text-md-right font-weight-bold"> כתובת ,דוא"לוטלפון</label>
            <div dir="rtl" class="form-group row  ddddd">
                <label for="kindLiving" class=" col-form-label text-md-right"> סוג מגורים </label>

                <div class="col-md-5">
                    <select class="form-control" id="kindLiving" name="kindLiving" [ngModel]="GetIDListById(6)"
                        (ngModelChange)="changeValue(6,$event)">
                        <option *ngFor="let valueLis of GetValueList(6)" [value]="valueLis.ValueListId">{{valueLis.Value}}
                        </option>
                    </select>
                </div>
            </div>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="CountryId" class=" col-form-label text-md-right">מדינה</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.CountryId" id="CountryId" class="form-control" name="CountryId"
                        required #CountryId="ngModel">
                </div>
            </div>
            <p *ngIf="CountryId?.invalid && (CountryId?.dirty || CountryId?.touched||firstEnter==2)">שדה חובה*</p>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="CityId" class=" col-form-label text-md-right">עיר מגורים</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.CityId" id="CityId" class="form-control" name="CityId"
                        required #CityId="ngModel">
                </div>
            </div>
            <p *ngIf="CityId?.invalid && (CityId?.dirty || CityId?.touched||firstEnter==2)">שדה חובה*</p>
            <div dir="rtl" class="form-group row  ddddd">
                <label for="StreetId" class=" col-form-label text-md-right">רחוב</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.StreetId" id="StreetId" class="form-control" name="StreetId"
                        required #StreetId="ngModel">
                </div>
            </div>
            <p *ngIf="StreetId?.invalid && (StreetId?.dirty || StreetId?.touched||firstEnter==2)">שדה חובה*</p>
            <div dir="rtl" class="form-group row  ddddd">
                <label for="BuildNum" class=" col-form-label text-md-right">מספר בית</label>

                <div class="col-md-5">
                    <input type="number" [(ngModel)]="cand.User.BuildNum" id="BuildNum" class="form-control" name="BuildNum"
                        min="1" required #BuildNum="ngModel">
                </div>
            </div>
            <p *ngIf="BuildNum?.invalid && (BuildNum?.dirty || BuildNum?.touched||firstEnter==2)">שדה חובה*</p>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="Mail" class=" col-form-label text-md-right">כתובת דוא"ל אלקטרוני</label>

                <div class="col-md-5">
                    <input type="email" lang="en" [(ngModel)]="cand.User.Mail" id="Mail" class="form-control" name="Mail"
                        #Mail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
            </div>
            <p *ngIf="Mail.invalid && (Mail.touched||firstEnter==2)">מייל לא תקין *</p>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="Cellphon" class=" col-form-label text-md-right">פלאפון</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.Cellphon" id="Cellphon" class="form-control" name="Cellphon" (keypress)="numberOnly($event)"
                        minlength="10" pattern="\d*" #Cellphon="ngModel" maxlength="10">
                </div>
            </div>

           
            <p *ngIf="Cellphon?.errors?.minlength && (Cellphon?.touched ||firstEnter==2)">פלאפון
                צריך להיות לפחות 10 תווים*</p>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="Telephon" class=" col-form-label text-md-right">טלפון</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.User.Telephon" id="Telephon"  (keypress)="numberOnly($event)" class="form-control" name="Telephon"
                        minlength="7" pattern="\d*" #Telephon="ngModel" maxlength="10" >

                </div>
            </div>

          
            <p *ngIf="Telephon?.errors?.minlength && (Telephon?.touched||firstEnter==2)">טלפון
                צריך
                להיות לפחות 7 תווים*</p>

        </div>
        <div id="FamilyStatus">

            <label class=" col-form-label text-md-right font-weight-bold">מצב משפחתי</label>



            <div dir="rtl" class="form-group row  ddddd">
                <label for="ParentKind" class=" col-form-label text-md-right">מצב משפחתי</label>

                <div class="col-md-5">
                    <select class="form-control" id="matzav" name="matzav" [(ngModel)]="cand.User. Status">

                        <option *ngFor="let valueLis of GetValueList(10)" [value]="valueLis.ValueListId">
                            {{valueLis.Value}}</option>
                    </select>
                </div>
            </div>

            <div dir="rtl" class="form-group row  ddddd" *ngIf="cand.User.Status!=31&&cand.User.Status!=null">
                <label for="isChildren" class=" col-form-label text-md-right">האם יש לך ילדים</label>

                <div class="col-md-5">
                    <select class="form-control" id="isChildren" name="isChildren" [(ngModel)]="isChildren">


                        <option [ngValue]="false">לא</option>
                        <option [ngValue]="true">כן</option>

                    </select>
                </div>
            </div>



            <div *ngIf="isChildren" dir="rtl" class="form-group row  ddddd">
                <label for="numChildren" class=" col-form-label text-md-right">מספר הילדים</label>

                <div class="col-md-5">

                    <input type="number" id="numChildren" class="form-control" name="numChildren" (change)="addChild()"
                        [(ngModel)]="numChildren">
                </div>
            </div>


            <div *ngFor="let item of cand.Children; index as i">
                <label class=" col-form-label text-md-right font-weight-bold"> ילד #{{i+1}}</label>
                <div dir="rtl" class="form-group row  ddddd">
                        <label for="BornDate" class=" col-form-label text-md-right"> תאריך לידה ילד</label>
                        <div class="col-md-5">
                            <input type="text" [(ngModel)]="item.BornDate" onkeydown="return false"  placeholder="לחץ כאן" name="BornDate-{{i}}"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" class="form-control" bsDatepicker  [maxDate]="today">
                        </div>
                    </div> 
                <div dir="rtl" class="form-group row  ddddd">
                    <label for="NameChilde" class=" col-form-label text-md-right">שם ילד</label>

                    <div class="col-md-5">

                        <input type="text" [(ngModel)]="item.NameChilde" class="form-control" name="NameChilde-{{i}}">
                    </div>
                </div>

            </div>

            <div id="Mechutanim">
                <div dir="rtl" class="form-group row  ddddd">
                    <label for="isMechutanim" class=" col-form-label text-md-right">האם יש מחותנים</label>

                    <div class="col-md-5">
                        <select class="form-control" id="isMechutanim" name="isMechutanim" [(ngModel)]="isMechutanim">

                            <option [ngValue]="false">לא</option>
                            <option [ngValue]="true">כן</option>

                        </select>
                    </div>
                </div>


                <div *ngIf="isMechutanim" dir="rtl" class="form-group row  ddddd">
                    <label for="numMechutanim" class=" col-form-label text-md-right">מספר מחותנים</label>

                    <div class="col-md-5">

                        <input type="number" id="numMechutanim" class="form-control" name="numMechutanim" (change)="addMechutanim()"
                            [(ngModel)]="numMechutanim">
                    </div>
                </div>

                <div *ngFor="let items of cand.Mechutanim; index as indexer">

                    <label class=" col-form-label text-md-right font-weight-bold"> מחותן #{{indexer+1}}</label>
                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="Fname" class=" col-form-label text-md-right">שם משפחה</label>

                        <div class="col-md-5">
                            <input type="text" [(ngModel)]="items.Fname" class="form-control" name="Fname-{{indexer}}">
                        </div>
                    </div>

                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="City" class=" col-form-label text-md-right"> עיר מגורים</label>

                        <div class="col-md-5">
                            <input type="text" [(ngModel)]="items.City" class="form-control" name="City-{{indexer}}">
                        </div>
                    </div>
                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="Tel" class=" col-form-label text-md-right">טלפון</label>

                        <div class="col-md-5">

                            <input type="text" [(ngModel)]="items.Tel" class="form-control" name="Tel-{{indexer}}" maxlength="10" (keypress)="numberOnly($event)">
                        </div>
                    </div>

                </div>


            </div>

            <div id="parent">
                <div dir="rtl" class="form-group row  ddddd">
                    <label for="isParent" class=" col-form-label text-md-right">האם יש לך הורים</label>

                    <div class="col-md-5">
                        <select class="form-control" id="isParent" name="isParent" [(ngModel)]="isParent">

                            <option [ngValue]="false">לא</option>
                            <option [ngValue]="true">כן</option>

                        </select>
                    </div>
                </div>

                <div *ngIf="isParent" dir="rtl" class="form-group row  ddddd">
                    <label for="numParents" class=" col-form-label text-md-right">מספר הורים</label>

                    <div class="col-md-5">

                        <input type="number" id="numParents" class="form-control" name="numParents" (change)="addParent()"
                            [(ngModel)]="numParents">
                    </div>
                </div>

                <div *ngFor="let ii of cand.Parents; index as j">
                    <label class="col-form-label text-md-right font-weight-bold"> הורה #{{j+1}}</label>
                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="Relativ" class=" col-form-label text-md-right">קירבה</label>

                        <div class="col-md-5">

                            <select class="form-control" id="Relativ" name="Relativ-{{j}}" [(ngModel)]="ii.Relativ">

                                <option [ngValue]="true">אבא</option>
                                <option [ngValue]="false">אמא</option>

                            </select>
                        </div>
                    </div>
                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="ParentKind" class=" col-form-label text-md-right">סוג הורה</label>

                        <div class="col-md-5">
                            <select class="form-control" id="ParentKind" name="ParentKind-{{j}}" [(ngModel)]="ii.ParentKind">

                                <option *ngFor="let valueLis of GetValueList(35)" [value]="valueLis.ValueListId">
                                    {{valueLis.Value}}</option>
                            </select>
                        </div>
                    </div>


                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="Jew" class=" col-form-label text-md-right">האם יהודי</label>

                        <div class="col-md-5">

                            <select class="form-control" id="Jew" name="Jew-{{j}}" [(ngModel)]="ii.Jew">

                                <option [ngValue]="false">לא</option>
                                <option [ngValue]="true">כן</option>

                            </select>
                        </div>
                    </div>
                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="City" class=" col-form-label text-md-right"> ארץ מוצא</label>

                        <div class="col-md-5">
                            <input type="text" [(ngModel)]="ii.MotzaCountryId" class="form-control" name="MotzaCountryId-{{j}}">
                        </div>
                    </div>
                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="City" class=" col-form-label text-md-right"> ארץ לידה</label>

                        <div class="col-md-5">
                            <input type="text" [(ngModel)]="ii.BornCountryId" class="form-control" name="BornCountryId-{{j}}">
                        </div>
                    </div>


                    <div dir="rtl" class="form-group row  ddddd">
                        <label for="Describ" class=" col-form-label text-md-right">תאור</label>

                        <div class="col-md-5">

                            <input type="text" [(ngModel)]="ii.Describ" class="form-control" name="Describ-{{j}}">
                        </div>
                    </div>
                </div>


            </div>


        </div>




        <div id="sector">
            <label class=" col-form-label text-md-right font-weight-bold">סקטור</label>


            <div *ngFor="let crit of criterionSector; index as i" dir="rtl" class="form-group row  ddddd">
                <label for="criteria" class=" col-form-label text-md-right"> {{crit.NameCriterion}}</label>

                <div class="col-md-5">
                    <select class="form-control" id="criteria" name="criteria-{{i}}" [ngModel]="GetIDListById(crit.CriterionId)"
                        (ngModelChange)="changeValue(crit.CriterionId,$event)">
                        <option *ngFor="let valueLis of GetValueList(crit.CriterionId)" [value]="valueLis.ValueListId">
                            {{valueLis.Value}}</option>
                    </select>
                </div>

            </div>

            <p *ngIf="Tz.control.dirty&&!Tz.control.valid">שדה חובה*</p>
            <div dir="rtl" class="form-group row  ddddd">
                <label for="NameRav" class=" col-form-label text-md-right">רב פוסק</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.Candidate.NameRav" id="NameRav" class="form-control" name="NameRav"
                        #CountryId>
                </div>
            </div>

            <div dir="rtl" class="form-group row  ddddd">
                <label for="TelRav" class=" col-form-label text-md-right">טל רב</label>

                <div class="col-md-5">
                    <input type="text" [(ngModel)]="cand.Candidate.TelRav" id="TelRav" class="form-control" name="TelRav" (keypress)="numberOnly($event)"
                        maxlength="10" minlength="9" pattern="\d*" #TelRav="ngModel">
                </div>

            </div>
            <p *ngIf="TelRav?.errors?.minlength && ( TelRav?.touched||firstEnter==2)"> טלפון צריך
                להכיל
                לפחות 9 תווים*</p>
           

        </div>
       

        <div class="buttons">
            <button type="button" class="btn btn-light" (click)="saveDetailCandidate()"> שמור </button>


            <button type="button" class="btn btn-light" (click)="saveAndContinue()"> שמור והמשך </button>
        </div>
    </div>
</form>