<html>

<!-- <button (click)="enter()">כניסה</button> -->
<!-- <button (click)="register()">הרשמה</button> -->

<!-- <button (click)="calander()">לוח שנה </button> -->
<!-- <button (click)="matcMacker()">שדכן</button> -->
<!-- <button (click)="paypal()">paypal</button> -->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="sweetalert2.all.min.js"></script>
Optional: include a polyfill for ES6 Promises for IE11 and Android browser 
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> -->











<!-- 
<div id="locationField">
  <input id="autocomplete" placeholder="Enter your address" type="text" />
</div> -->
<!-- (focus)="geolocate()" 
<div class="check xed">
  <span></span>
  <span></span>
</div>
-->
<!-- Note: The address components in this sample are typical. You might need to adjust them for
           the locations relevant to your app. For more information, see
     https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->

<!-- <table id="address">
  <tr>
    <td class="label">Street address</td>
    <td class="slimField"><input class="field" id="street_number" disabled="true"/></td>
    <td class="wideField" colspan="2"><input class="field" id="route" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"/></td>
    <td class="label">Zip code</td>
    <td class="wideField"><input class="field" id="postal_code" disabled="true"/></td>
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3"><input class="field" id="country" disabled="true"/></td>
  </tr>
</table> -->
<!-- Replace the value of the key parameter with your own API key. 
<div id="paypal-checkout-btn"></div>

<ngx-paypal [config]="payPalConfig"></ngx-paypal>-->
<!-- דף הבית חדש -->
<body>



  
    <div class="row">
    
      <div class=" col-md-6">
        <h2> ברוכים הבאים לאתר </h2>
        <h1><strong>שידוך לעניין </strong></h1>
    
      </div>
    
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="../../assets/cheers.png" class="rounded ">
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
    
        <div class="fixed-bottom ">
          <button class="btn row  btn-light" (click)="enter()">כניסה</button>
          <button class="btn row btn-light" (click)="register()">הרשמה</button>
          <button class="btn row btn-light">אודות</button>
        </div>
      </div>
    </div> form-group row btn-group -->
    <div dir="ltr " class="btn-group " style="margin-top: auto;">
      <button type="button " (click)="register()" class="btn btn-secondary ">הרשמה</button>
      <button type="button" (click)="enter()" class="btn btn-secondary">כניסה</button>
      <button type="button" (click)="nav()" class="btn btn-secondary">אודות</button>
    
    </div>
    
    <!-- <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Left</button>
        <button type="button" class="btn btn-secondary">Middle</button>
        <button type="button" class="btn btn-secondary">Right</button>
    </div> -->




    <div class="top1 left1"></div>
    <div class="bottom1 left2"></div>
    <div class="top1 left3"></div>
    
    
    <div class="top1 right1"></div>
    <div class="bottom1 right2"></div>
    <div class="top1 right3"></div>
    </body>
    
    
    
    
    
    
    
    <!-- class="btn btn-light align-self-end" -->
    
    </html>
